* {
    min-width: 0;
    font: inherit;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  img,
  video,
  svg {
    display: block;
    height: auto;
    max-width: 100%;
  }
  
  body {
    margin: 0;
    min-height: 100dvh;
  }
  .audifonos-cotainer{
    position: relative;
    width: 150px;
    height: 160px;
    bottom: 30px;
  }
  .audifonosimg{
    width: 100%;
    height: 100%;
  }
  h1,
  h2,
  h3 {
    text-wrap: balance;
  }
  
  p {
    text-wrap: pretty;
    font-size: 0.8rem;
  }
  body {
    background-color: #f1dde1;
    overflow-x: hidden; 
    overflow-y: hidden; 
  }
  
  main {
    display: flex;
    flex-direction: column;
  
    gap: 9rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container-letter {
    position: relative;
  }
  
  .cover {
    position: absolute;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-top: 200px solid #ff5c71;
    border-bottom: 100px solid transparent;
  
    /*  */
    transition: transform .75s;
    transform-origin: top;
  }
  
  .paper {
    position: absolute;
    padding: 0px 30px 0px 30px;
    line-height: 2rem;
    right: 5px;
    /*  */
    z-index: -1;
    background: white;
    width: 390px;
    height: 195px;
    transition: all .75s;
  }
  
  .letter {
    border-left: 200px solid #fd8d9c;
    border-right: 200px solid #ff6f82;
    border-top: 100px solid transparent;
    border-bottom: 200px solid #ff7e8f;
  }
  
  .options {
    display: flex;
    gap: 3rem;
  
    & button {
      color: #ffffff;
      font-weight: 600;
      border-radius: 3px;
      background: #d30000;
      padding: 0.5rem 1rem;
      border: 1px solid #ffffff;
      cursor: pointer;
    }
  
    & button:hover {
      background: #ff0000;
      color: white;
    }
  }
  
  .open-cover {
    transform: rotatex(180deg);
  }
  
  .open-paper {
    animation: openPaper .5s forwards;
  }
  
  @keyframes openPaper {
    0% {
      top: 0;
    }
    100% {
      top: -240px;
    }
  }


  
  .close-paper {
    animation: closePaper .5s forwards;
  }
  
  @keyframes closePaper {
    0% {
      top: -120px;
    }
    100% {
      top: 0;
    }
  }
  .heart {
    display: none;
    position: absolute;
    top: 25%;
    left: 46.5%;
    margin: auto;
    font-size: 3rem;
  
    color: #fe3334;
  
    animation: crecer 1s forwards ;
  }
  
  @keyframes crecer {
    0% {
      scale: 1;
      opacity: 1;
    }
    100% {
      scale: 3;
      opacity: 0;
  
    }
  }

  .light-1{
    left: 10vmin;
    animation-delay: 1s;
}

.light-2{
    left: 20vmin;
    animation-delay: 0.5s;
}

.light-3{
    left: 60vmin;
    animation-delay: 0.3s;
}

.light-4{
    left: 80vmin;
    animation-delay: 0.9s;
}

.light-5{
    left: 45vmin;
    animation-delay: 1.5s;
}

.light-6{
    left: 10vmin;
    animation-delay: 3s;
}

.light-7{
    left: 90vmax;
    animation-delay: 2s;
}

.light-8{
    left: 60vmax;
    animation-delay: 3.5s;
}

.light-9{
    left: 70vmax;
    animation-delay: 2s;
}

.light-10{
    left: 95vmax;
    animation-delay: 3.5s;
}

.light-11{
    left: 75vmax;
    animation-delay: 3s;
}

.light-12{
    left: 85vmax;
    animation-delay: 0.5s;
}

.light{
    position: absolute;
    bottom: 15vmin;
    width: 1vmin;
    height: 1vmin;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    filter: blur(0.2vmin);
    animation: light-ans-background 7s linear infinite backwards;
}
@keyframes light-ans {
    0% {
      opacity: 0;
      transform: translateY(0vmin);
    }
  
    25% {
      opacity: 1;
      transform: translateY(-5vmin) translateX(-2vmin);
    }
  
    50% {
      opacity: 1;
      transform: translateY(-15vmin) translateX(2vmin);
      filter: blur(0.2vmin);
    }
  
    75% {
      transform: translateY(-20vmin) translateX(-2vmin);
      filter: blur(0.2vmin);
    }
  
    100% {
      transform: translateY(-30vmin);
      opacity: 0;
      filter: blur(1vmin);
    }
}

@keyframes light-ans-background {
    0% {
      opacity: 0;
      transform: translateY(0vmin);
    }
  
    25% {
      opacity: 1;
      transform: translateY(-10vmin) translateX(-2vmin);
    }
  
    50% {
      opacity: 1;
      transform: translateY(-20vmin) translateX(2vmin);
      filter: blur(0.2vmin);
    }
  
    60% {
      transform: translateY(-30vmin) translateX(-2vmin);
      filter: blur(0.2vmin);
    }
  
    70% {
        transform: translateY(-40vmin) translateX(2vmin);
        filter: blur(0.2vmin);
    }

    80% {
        transform: translateY(-50vmin) translateX(-2vmin);
        filter: blur(0.2vmin);
    }

    100% {
      transform: translateY(-60vmin);
      opacity: 0;
      filter: blur(1vmin);
    }
}

